﻿<div ng-controller="sts.views.playlist.edit as vm">
    <form id="EditPlaylistForm" role="form" name="editPlaylistForm" novalidate>
        <div class="form-group">
            <label for="PlaylistName">@L("PlaylistName")</label>
            <input id="PlaylistName" ng-model="vm.playlist.name" class="form-control" required />
        </div>
        <button ng-click="vm.savePlaylist()" ng-disabled="editPlaylistForm.$invalid" type="submit" class="btn btn-primary">@L("EditThePlaylist")</button>
    </form>
</div>