﻿<div class="panel panel-default" ng-controller="sts.views.playlist.list as vm">

    <div class="panel-heading" style="position: relative;">
        <div class="row">

            <!-- Title -->
            <h3 class="panel-title col-xs-6">
                @L("PlaylistList") - <span>{{vm.getPlaylistCountText()}}</span>
            </h3>

        </div>
    </div>

    <!-- Playlist list -->
    <ul class="list-group" ng-repeat="playlist in vm.playlists">
        <li class="list-group-item">
            @*<a class="btn btn-link" ng-click="viewPlaylist(playlist.playlistId)"><i class="icon-eye-open"></i></a>*@
            <a class="btn btn-link" ng-click="editPlaylist(playlist.id)">@L("Edit")</a>
            <a class="btn btn-link" ng-click="deletePlaylist(playlist.id)">@L("Delete")</a>

            <span class="playlist-name">{{playlist.name}}</span>

        </li>
    </ul>

</div>