﻿<div ng-controller="sts.views.playlist.new as vm">
    <form id="NewPlaylistForm" role="form" name="newPlaylistForm" novalidate>
        <div class="form-group">
            <label for="PlaylistName">@L("PlaylistName")</label>
            <input id="PlaylistName" ng-model="vm.playlist.name" class="form-control" placeholder="@L("EnterNameHere")" r required />
        </div>
        <button ng-click="vm.savePlaylist()" ng-disabled="newPlaylistForm.$invalid" type="submit" class="btn btn-primary">@L("CreateThePlaylist")</button>
    </form>
</div>