﻿<div ng-controller="sts.views.song.edit as vm">
    <form id="EditSongForm" role="form" name="editSongForm" novalidate>
        <div class="form-group">
            <label for="SongArtist">@L("SongArtist")</label>
            <input id="SongArtist" ng-model="vm.song.artist" class="form-control" required/>
        </div>
        <div class="form-group">
            <label for="SongTitle">@L("SongTitle")</label>
            <input id="SongTitle" ng-model="vm.song.title" class="form-control" required/>

        </div>
        <button ng-click="vm.saveSong()" ng-disabled="editSongForm.$invalid" type="submit" class="btn btn-primary">@L("EditTheSong")</button>
    </form>
</div>