﻿<div class="panel panel-default" ng-controller="sts.views.song.list as vm">

    <div class="panel-heading" style="position: relative;">
        <div class="row">

            <!-- Title -->
            <h3 class="panel-title col-xs-6">
                @L("SongList") - <span>{{vm.getSongCountText()}}</span>
            </h3>

        </div>
    </div>

    <!-- Song list -->
    <ul class="list-group" ng-repeat="song in vm.songs">
        <li class="list-group-item">
            @*<a class="btn btn-link" ng-click="viewSong(song.songId)"><i class="icon-eye-open"></i></a>*@
            <a class="btn btn-link" ng-click="editSong(song.id)">@L("Edit")</a>
            <a class="btn btn-link" ng-click="deleteSong(song.id)">@L("Delete")</a>
            <a class="btn btn-link" ng-click="addSongToPlaylists(song.id)">@L("AddToPlaylists")</a>

            <span class="song-artist">{{song.artist}} -</span>

            <span class="song-title"> {{song.title}}</span>

        </li>
    </ul>

</div>