﻿<div ng-controller="sts.views.song.new as vm">
    <form id="NewSongForm" role="form" name="newSongForm" novalidate>
        <div class="form-group">
            <label for="SongArtist">@L("SongArtist")</label>
            <input id="SongArtist" ng-model="vm.song.artist" class="form-control" placeholder="@L("EnterArtistHere")" required/>
        </div>
        <div class="form-group">
            <label for="SongTitle">@L("SongTitle")</label>
            <input id="SongTitle" ng-model="vm.song.title" class="form-control" placeholder="@L("EnterTitleHere")" required />

        </div>
        <button ng-click="vm.saveSong()" ng-disabled="newSongForm.$invalid" type="submit" class="btn btn-primary">@L("CreateTheSong")</button>
    </form>
</div>