﻿<div class="panel panel-default" ng-controller="sts.views.song.playlists.add as vm">

    <div class="panel-heading" style="position: relative;">
        <div class="row">

            <!-- Title -->
            <h3 class="panel-title col-xs-6">
                @L("AddToPlaylists")
            </h3>

        </div>
    </div>

    <div isteven-multi-select
         input-model="playlists"
         output-model="outputPlaylists"
         button-label="name"
         item-label="name"
         tick-property="checked">
    </div>
    <a class="btn btn-link" ng-click="save()">@L("Save")</a>

</div>