﻿<div class="panel panel-default" ng-controller="sts.views.song.search as vm">

    <div class="panel-heading" style="position: relative;">
        <div class="row">

            <!-- Title -->
            <h3 class="panel-title col-xs-6">
                @L("SongSearch") - <span>{{vm.getSongCountText()}}</span>
            </h3>
        </div>
        <div class="row">
            <div class="panel-body">
                <form id="SearchSongForm" role="form" name="SearchSongForm" novalidate>
                    <div class="form-group">
                        <label for="SongArtist">@L("SongArtist")</label>
                        <input id="SongArtist" ng-model="vm.song.artist" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="SongTitle">@L("SongTitle")</label>
                        <input id="SongTitle" ng-model="vm.song.title" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="PlaylistName">@L("PlaylistName")</label>
                        <input id="PlaylistName" ng-model="vm.song.playlist" class="form-control" />
                    </div>

                    <button ng-click="search()" ng-disabled="SearchSongForm.$invalid" type="submit" class="btn btn-primary">@L("Search")</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Song list -->
    <ul class="list-group" ng-repeat="song in vm.songs">
        <li class="list-group-item">

            <span class="song-artist">{{song.artist}} -</span>

            <span class="song-title"> {{song.title}}</span>

        </li>
    </ul>

</div>